body {
    text-align: center;
    background: #000000;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer {
    Width: 100%;
    color: #FFFFFF;
}

.gray-box {
    border-radius: 25px;
    background: #BBBBBB;
    padding: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#word {
    font-size: 48px;
}
